/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a,
.btn {
    transition: all 300ms ease;
}

/* section */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* section end */

/* navbar */
nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background: rgb(34, 34 ,34);
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.nav-links li a {
    opacity: 0;
    animation: slideTop .4s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(253, 193, 31);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo {
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(253, 193, 31);
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .8s;
}

.logo:hover {
    cursor: default;
}

/* navbar end */

/* hamburger menu */
#hamburger-nav {
    display: none;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(34, 34 ,34);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}
/* hamburger menu end */

/* hamburger icon */

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}
/* hamburger icon end */

/* home */
.container-home {
    background-color: rgb(67, 67, 67);
}

#home {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: rgb(253, 193, 31);
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}

#social-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.home-sc1 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 0.1rem solid rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 20px;
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: .2s ease;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sc1 a:hover {
    background: rgb(253, 193, 31);
    color: #000;
    box-shadow: 0 0 20px rgb(253, 193, 31);
    border: 0.1rem solid rgb(255, 255, 255);
}

.btn .con:hover {
    background: rgb(253, 193, 31);
    color: #000;
    box-shadow: 0 0 20px rgb(253, 193, 31);
    text-decoration: none;
}

.icon {
    cursor: pointer;
    height: 2rem;
}
/* home end */

/* button */
.btn-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .8s;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
}

.btn-color {
    background-color: rgb(67, 66, 66);
    border: rgb(255, 255, 255) 0.1rem solid;

}

.btn-color:hover {
    cursor: pointer;
    background: rgb(253, 193, 31);
    box-shadow: 0 0 20px rgb(253, 193, 31);
    border:rgb(255, 255, 255) 0.1rem solid;
    color: #000;
}

/* button end */

/* about */

.container-about {
    background-color: rgb(243, 239, 224);
}

#about {
    position: relative;
}

.section__text__p1-about {
    text-align: center;
}

.title-about {
    font-size: 3rem;
    text-align: center;
}
.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container{
    display: flex;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: #fff;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.about-pic {
    border-radius: 2rem;
}
/* about end */

/* arrow */
.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
/* arrow end */

/* skill */
.container-skill {
    background-color: rgb(243, 239, 224);
}

#skill {
    position: relative;
}

.section__text__p1-skill {
    text-align: center;
}

.title-skill {
    font-size: 3rem;
    text-align: center;
}

.icon-skill {
    cursor: pointer;
    height: 5rem;
}

.skill-sub-title {
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.skill-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}


.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}
/* skill end */

/* project */
#project {
    position: relative;
}

.color-container {
    border-color: rgb(85, 85, 85);
    background: rgb(243, 239, 224);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: #000;
}

.project-btn {
    color: #000;
    border-color: rgba(253, 193, 31);
}

.project-btn:hover {
    background: rgb(0, 255, 179);
    box-shadow: 0 0 20px rgb(0, 255, 179);
    color: #000
}

.project-btn a {
    color: #000;
    text-decoration: none;
}
/* project end */

/* contact */
#contact {
    min-height: 110vh;
    padding: 50px;
    text-align: center;
}

.container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.contact-form {
    text-align: left;

}

.contact-form h3 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
}

.form-group {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color: #f8f9f8fa;
    background: rgb(180, 178, 172);
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

.contact-text {
    padding-top: 2rem;
}

.btn-cont {
    font-weight: 300;
    transition: all 300ms ease;
    padding: 0.5rem;
    width: 4rem;
    border-radius: 4rem;
    color: rgb(255, 255, 255);
}

.color-cont {
    background-color: rgb(255, 255, 255);
    border: #000 0.1rem solid;
    color: #000;
}
.color-cont:hover {
    background-color: rgb(0, 102, 255);
    border: #000 0.1rem solid;
}
/* contact end */

/* footer */
footer {
    height: 20vh;
    margin: 0;
    background-color: rgb(34, 34, 34);
}

footer p {
    text-align: center;
    color: rgb(255, 255, 255);
}


.project-btn-2 {
color: #000;
}
.project-btn-2:hover {
    color: #fff;
    background-color: rgb(23, 81, 255);
    cursor: pointer;
}
/* footer end */